<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Family </title>
</head>

<body>
    <form action="/" method="post">
        <label for="fullUrl">Member Name</label>
        <input required type="text" name="fullUrl" id="fullUrl">
        <button type="submit">Short The Link</button>
    </form>

    <div>
        <% shortUrls.forEach(shortUrl => { %>
            <p>
                <%= shortUrl.fullUrl %>
            </p>
            <% }) %>
    </div>

</body>

</html>